.h1 {
    text-align: center;
    height: 100px;
    border: solid;
    background: linear-gradient(to right, rgb(36, 102, 215), rgb(5, 5, 96));
    color: white;
}

h2 {
    position: relative;
    left: 800px;
    bottom: 710px;
}

.classs {
    position: relative;
    bottom: 300px;
}

.inputtext {
    border-radius: 10px;
    font-size: 40px;
}

.icon-1 {
    background-image: url("Sunnyicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.icon-2 {
    background-image: url("/Rainicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.icon-3 {
    background-image: url("/cloudyicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.icon-4 {
    background-image: url("/snowicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.form {
    font-size: 25px;
}

.form1 {
    position: relative;
    left: 200px;
}

.card {
    position: relative;
    height: 550px;
    font-size: 25px;
    left: 150px;
    top: 100px;
}

.card-2 {
    height: 500px;
    width: 1500px;
    text-align: start;
    border: solid;
    position: relative;
    bottom: 750px;
    left: 800px;
}

#icon-1 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 50px;
}

#icon-2 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 150px;
}

#icon-3 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 250px;
}

#icon-4 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 350px;
    border: solid;
}

.card-body {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.searchBtn {
    width: 400px;
    background-color: lightskyblue;
    color: white;
    border-radius: 10px;
    position: relative;
    top: 10px;
    font-size: 40px;
}

.body {
    border: solid;
    height: 1200px;
    width: 2500px;
    margin: auto;
}

.box1 {
    height: 300px;
    width: 200px;
    border: solid;
    position: relative;
    left: 800px;
    bottom: 700px;
    ;
    color: white;
    background-color: rgb(71, 71, 85);
}

.box2 {
    height: 300px;
    width: 200px;
    border: solid;
    position: relative;
    left: 1125px;
    bottom: 1000px;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box3 {
    height: 300px;
    width: 200px;
    border: solid;
    position: relative;
    left: 1450px;
    bottom: 1300px;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box4 {
    height: 300px;
    width: 200px;
    border: solid;
    position: relative;
    left: 1775px;
    bottom: 1600px;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box5 {
    height: 300px;
    width: 200px;
    border: solid;
    position: relative;
    left: 2100px;
    bottom: 1900px;
    background-color: rgb(71, 71, 85);
    color: white;
}