.h1 {
    text-align: center;
    height: 50px;
    border: solid;
    border-radius:25px;
    background: linear-gradient(to right, rgb(36, 102, 215), rgb(5, 5, 96));
    color: white;
}

h1 {
    font-size:30px;
}


.classs {
    position: relative;
    bottom: 300px;
}

.inputtext {
    border-radius: 10px;
    font-size: 40px;
}

.icon-1 {
    background-image: url("./Sunnyicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.icon-2 {
    background-image: url("./Rainicon.jpg");
    background-size: cover;
    visibility: hidden;
    
}

.icon-3 {
    background-image: url("./cloudyicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.icon-4 {
    background-image: url("./snowicon.jpg");
    background-size: cover;
    visibility: hidden;
}

.form {
    font-size: 25px;
}

.form1 {
    position:relative;
    left:1%;
    width:30rem;
   text-align: center;
}

.card {
    position: relative;
    height: 25%;
    font-size: 25px;
    left: 150px;
    top: 100px;
    border-style:solid;
}

.card-2 {
    height:35%;
    width:40rem;
    text-align: start;
    position:relative;
    left:45%;
    bottom:50%;
    
    
}

#icon-1 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 50px;
}

#icon-2 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 150px;
}

#icon-3 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 250px;
}

#icon-4 {
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 350px;
    border: solid;
}

.card-body {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.searchBtn {
    width:100px;
    background-color:blue;
    color: white;
    border-radius: 10px;
    position: relative;
    bottom:45px;
    font-size:15px;
}

.body {
    border: solid;
    height:60rem;
    border-style:solid;
    border-radius:25px;
    width:80rem;
    opacity: .85;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    
    
}

.box1 {
    width:10rem;
    height:10rem;
    border: solid;
    color: white;
    background-color: rgb(71, 71, 85);
}

.box2 {
    width:10rem;
    height:10rem;
    border: solid;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box3 {
    width:10rem;
    height:10rem;
    border: solid;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box4 {
    width:10rem;
    height:10rem;
    border: solid;
    background-color: rgb(71, 71, 85);
    color: white;
}

.box5 {
    width:10rem;
    height:10rem;
    border: solid;
    background-color: rgb(71, 71, 85);
    color: white;
}
.card {
    position:absolute;
    top:28%;
    left:22%;
    height:10%;
 
    
}
.container {
    position:relative;
    left:22%;
    bottom:40%;
    width:45rem;
    height:20rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    gap:2%;
    
}
.container-bottom {
    height:50%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:1%;
}
.real-card {
    height:20rem;
    width:35rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    top:31%;

}
.btn1 {
    width:90%;
    height:25px;
    border-radius:5px;
}
body {
    background-image: url("./thunderstorm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}